mixin btn-toolbar(size)
  - var cls = size ? 'btn-toolbar-' + size : undefined;
  .btn-toolbar(class=[cls])&attributes(attributes)
    block

mixin btn-group
  .btn-group&attributes(attributes)
    block

mixin btn
  - if(attributes['class'] == null) { attributes = { 'class': ['btn-default']  } }
  a.btn&attributes(attributes)
    block

mixin btn-primary
  +btn.btn-primary&attributes(attributes)
    block