mixin control-label(text)
  label.control-label&attributes(attributes)
    | #{text}

mixin control-label-for(name, model)
  -
    var field = model.fields[name]
    var text = field.text
  +control-label(text)&attributes(attributes)

mixin form-control(type)
  - type || (type = 'text')
  input(type=type)&attributes(attributes)