
//- ---------------- helper

//- @pugdoc
  name: right
  description: 右浮动
  arguments:
  examples:
    - |
      +right
        div
mixin right
  .pull-right
    block

//- @pugdoc
  name: caret
  description: 下拉箭头
  arguments:
  examples:
    - |
      +caret
mixin caret
  span.caret
