mixin modal
  .modal.fade&attributes(attributes)
    .modal-dialog
      .modal-content.fn-wnd

mixin modal-close
  button.close(data-dismiss='modal')
    span ×

mixin modal-heading(title, subtitle)
  +container
    +modal-close
    .navbar-brand
      | #{title} &nbsp;
      small #{subtitle}