---
model: person
---
extends ../layout.pug

block body
  div.hell #{model.fields.name.displayName}

  +form-validate

  +editor-for-model(model)

  +kendo-datatable-for(model, 'list', 'data-bind: source: data.People')

  +datepicker(data-bind='xxxx')
