
//- 带图标的按钮
mixin btn-icon(icon, text)
  +btn&attributes(attributes)
    +i-text(icon, text)
    block

mixin btn-icon-action(icon, text, action, defaultAction, defaultText)
  - action || (action = defaultAction)
  - text || (text = defaultText)
  +btn-icon(icon, text)(data-action=action)&attributes(attributes)
    block

mixin btn-dropdown(icon, text)
  +btn-group&attributes(attributes)
    +btn-icon(icon, text)(data-toggle='dropdown')
      +caret
    block

mixin btn-edit(action)
  +btn-icon-action('edit', '编辑', action, 'edit')&attributes(attributes)

mixin btn-remove(action)
  +btn-icon-action('trash', '删除', action, 'remove')&attributes(attributes)

mixin btn-refresh
  +btn-icon('refresh', '刷新')(data-action='refresh')&attributes(attributes)
    block

mixin btn-add(action, text)
  - action || (action = 'add')
  - text || (text = '添加')
  +btn-icon('plus', text)(data-action=action)&attributes(attributes)
    block

mixin btn-search(text, action)
  - text || (text = '查询')
  +btn-icon('search', text)(data-action= action ? action : 'search')&attributes(attributes)
    block

mixin btn-detail
  +btn-icon('file-text-o', '详情')(data-action='detail')&attributes(attributes)
    block

mixin btn-export
  +btn-icon('download', '导出')&attributes(attributes)
    block

mixin btn-export-dropdown
  +btn-group
    +btn-export()(data-toggle='dropdown')&attributes(attributes)
      | &nbsp;
      +caret
    block

mixin btn-more-dropdown
  +btn-group
    +btn-icon('chain', '更多数据')(data-toggle='dropdown')&attributes(attributes)
      | &nbsp;
      +caret
    block
  

mixin btn-search-icon
  +btn-icon('search')&attributes(attributes)
    block

mixin btn-save(action, text)
  +btn-icon-action('floppy-o', text, action, 'save', '保存').btn-primary&attributes(attributes)
    block