//- ------------------ panel layout

mixin box-topbar
  .box-top.navbar.navbar-inverse.navbar-static-top.no-margin&attributes(attributes)
    block

mixin box-bottombar
  .box-bottom.navbar.navbar-inverse.navbar-static-bottom.no-margin&attributes(attributes)
    block

mixin box-body
  .box-body
    block

mixin box-wrapper
  .box-wrapper.container
    block

mixin box-aside
  .box-aside
    block

mixin box-content
  .box-content
    block