
+box-topbar
  block heading
+box-body
  +box-wrapper
    +box-aside
      block aside
    +box-content
      block content
+box-bottombar
  +container
    .navbar-form.navbar-right
      block bottom
        